@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import 'equalizer';

@import 'variables';

@import 'detail';

@import 'book-list-detail';

@import 'login-detail';

@import '~wolox-equalizer/equalizer';

@import 'layout';

@import 'margins';

@import 'components';

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, 'Droid Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  height: 32px;
  width: 252px;
  border-radius: 5px;

  &.action-button {
    background-color: $earls-green;
    color: $white;
    cursor: pointer;
  }

  &.redirection-button {
    background-color: $wild-sand;
    border: 2px solid $earls-green;
    color: $earls-green;
    cursor: pointer;
  }
}

.master-container {
  display: flex;
  height: 768px;
  width: 100%;
  max-width: $desktop;
  justify-content: center;
  align-items: center;
}
