$black: rgba(0, 0, 0, 0.5);
$gray: #808080;
$white: #FFF;
$earls-green: #BED23C;
$wild-sand: #F4F4F4;
$cerulean: #00ADEE;
$silver-chalice: #A8A8A8;
$black-rgba: rgba(0, 0, 0, 0.5);

$mobile: 376px;
$tablet: 1024px;
$desktop: 1366px;
